* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color1: #F3F8F2;
$color2: #2a354b;
$color3: #d3bc5f;
$color4: #3d91cf;
$color5: #00cd33;
$color6: #fff;

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: $color1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: $color4;
    box-shadow: inset 0 160px 0 $color2;
    transform: rotate(-10deg);
    
    // moon
    #moon {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        background-color: $color3;
        position: relative;
        margin: auto;
        top: 50px;
    }

    // stars
    .star {
        background-color: $color6;
        position: relative;
        margin: auto;

        &#star1 {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            right: 50px;
            bottom: 50px;
        }

        &#star2 {
            width: 5px;
            height: 5px;
            border-radius: 2.5px;
            left: 90px;
            bottom: 20px;
        }

        &#star3 {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            top: 20px;
            left: 100px;
        }

        &#star4 {
            width: 5px;
            height: 5px;
            border-radius: 2.5px;
            top: 10px;
            right: 90px;
        }

        &#star5 {
            width: 5px;
            height: 5px;
            border-radius: 2.5px;
            top: 50px;
            left: 80px;
        }
    }

    // clouds
    .cloud {
        display: inline-block;
        position: relative;
        transform: rotate(9deg);

        &#cloud1 { top: 115px; left: 40px; }
        &#cloud2 { top: 80px; left: 40px; }

        .halfCloud {
            background-color: $color6;
            height: 5px;
            border-radius: 2.5px;
            position: relative;
            margin: auto;
            
            // width
            &.hC1, &.hC5 { width: 60px; }

            &.hC2, &.hC4 { width: 30px; }

            &.hC3 { width: 100px; }

            // alignment
            &.hC2 { right: 5px; }
            &.hC3 { left: 8px; }
            &.hC4 { right: 19px; }
            &.hC5 { right: 15px; }
        }
    }
}