* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color1: #F3F8F2;
$color2: #2a354b;
$color3: #d3bc5f;
$color4: #3d91cf;
$color5: #00cd33;
$color6: #fff;

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: $color1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: $color4;
    box-shadow: inset 0 160px 0 $color2;
    transform: rotate(-10deg);
    position: relative;
    overflow: hidden;
    
    // moon
    #moon {
        width: 80px;
        height: 80px;
        border-radius: 40px;
        background-color: $color3;
        position: relative;
        margin: auto;
        top: 50px;
    }

    // animation stars
    @keyframes lighting {
        0% {
            box-shadow: 2px 2px 15px rgba($color1, 1);
            border-radius: 2px;
        }
        50% {
            box-shadow: 0 0 10px rgba($color1, .3);
            border-radius: 5px;
        }
        75% {
            box-shadow: 0 0 10px rgba($color1, .3);
            border-radius: 5px;
        }
        100% {
            box-shadow: 2px 2px 15px rgba($color1, 1);
            border-radius: 2px;
        }
    }

    // stars
    .star {
        background-color: $color6;
        position: relative;
        margin: auto;
        box-shadow: 0 0 10px rgba($color1, .3);
        animation-name: lighting;
        animation-duration: 3s;
        animation-iteration-count: infinite;

        &#star1 {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            right: 50px;
            bottom: 50px;
        }

        &#star2 {
            width: 5px;
            height: 5px;
            border-radius: 2.5px;
            left: 90px;
            bottom: 20px;
        }

        &#star3 {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            top: 20px;
            left: 100px;
        }

        &#star4 {
            width: 5px;
            height: 5px;
            border-radius: 2.5px;
            top: 10px;
            right: 90px;
        }

        &#star5 {
            width: 5px;
            height: 5px;
            border-radius: 2.5px;
            top: 50px;
            left: 80px;
        }
    }

    // clouds
    .cloud {
        display: inline-block;
        position: relative;
        transform: rotate(9deg);
        z-index: 10;
        filter: drop-shadow(5px 5px 2px rgba($color2, .3));

        &#cloud1 { top: 115px; left: 40px; }
        &#cloud2 { top: 80px; left: 40px; }

        .halfCloud {
            background-color: $color6;
            height: 5px;
            border-radius: 2.5px;
            position: relative;
            margin: auto;
            
            // width
            &.hC1, &.hC5 { width: 60px; }

            &.hC2, &.hC4 { width: 30px; }

            &.hC3 { width: 100px; }

            // alignment
            &.hC2 { right: 5px; }
            &.hC3 { left: 8px; }
            &.hC4 { right: 19px; }
            &.hC5 { right: 15px; }
        }
    }

    // continent
    #continent {
        display: inline-block;
        position: absolute;
        margin: auto;
        left: 20px;
        right: 0;
        bottom: 0;
        transform: rotate(10deg);
        div {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            background-color: $color5;
            width: 80px;
            height: 80px;
            border-radius: 40px;

            &#part1 {
                bottom: 25px;
                left: 20px;
            }

            &#part2 {
                bottom: 10px;
                right: 70px;
            }

            &#part3 {
                bottom: -30px;
            }

            &#part4 {
                right: 30px;
                bottom: -30px;
            }
        }
    }
    
    .oContinent {
        width: 15px;
        height: 40px;
        border-radius: 20px 50px 50px 20px;
        background-color: $color5;
        position: relative;
        top: 24px;
        left: 70px;
        transform: rotate(59deg);
    }
}